@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    border-bottom: 1px solid #999 !important;
    margin-bottom: 1em !important;
}

h1, h2 {
    color: #555;
    font-family: 'PT Sans Caption';
    font-weight: bold;
}

html, body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}


.sidebar {
    z-index: 2;
    overflow-y: ri;
    overflow-x: hidden;
    margin-left: auto;
}

.content {
    padding-top: 0;
}

.frankin-content {
    margin-top: 2em;
}
.franklin-content pre > code {
    border: 1px solid #6B8E2340;
    padding: 1.5em;
    border-radius: 0;
}
pre.code-output {
    background: #6B8E2340;
    padding-left: 0.5em;
}

.code-output code {
    border-radius: 0;
    padding-left: 1em !important;
    background: white;
}

.docstring {
    border: 1px solid #f1f1f1;
    padding: 1em;
    margin-bottom: 2em;
}

.franklin-content .docstring h2.doc-header {
    font-size: 1.25em;
    color: #008080;
    margin: 16px 0;
}

.franklin-content .docstring h1 {
    font-size: 1.2em;
}
.franklin-content .docstring h2 {
    font-size: 1em;
}

.docstring .doc-type {
    font-size: 1em;
    color: #6B8E2350;
    float: right;
}

.franklin-content h1 {
    margin-bottom: 0;
    font-size: 1.66em;
    border: none;
}
.franklin-content h2 {
    border: none;
    font-size: 1.33em;
    font-style: normal;
    font-weight: bold;
}

.sidebar-about h1 {
    font-family: 'Recursive', sans-serif;
    border-bottom: none !important;
}

@media (min-width: 768px) {
    .sidebar-nav {
    }
}
.sidebar .container.sidebar-sticky {
    top: 1rem;
}
.sidebar-nav .sidebar-nav-item.active {
    box-sizing: border-box;
    background: #f0f8ff40;
    margin-right: -1em;
    margin-left: -0.5em;
    padding-left: 0.5em;
    color: white;
    font-weight: normal !important;
}
.sidebar-nav .sidebar-nav-item {
    color: #cccccc;
    margin: 0.25em 0;
}

.sidebar-nav .week {
    font-style: italic;
    display: flex;
    align-items: center;
    color: #8cf01a;
}
.sidebar-nav .week::before,
.sidebar-nav .week::after {
    content: " ";
    flex: 1;
    border-bottom: 1px dashed #31fa26;
}
.sidebar-nav .week::before {
    margin-right: .25em;
}
.sidebar-nav .week::after {
    margin-left: .25em;
}

h1 {
    margin-top: 2em;
}
h2 {
    margin-top: 1em;
}


.page-foot img.github-logo {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: -2px;
}

.page-foot {
    margin-bottom: 0;
}

.colbox-blue{background-color:#EEF3F5;padding-top:5px;padding-right:10px;padding-left:10px;padding-bottom:5px;margin-left:5px;margin-top:5px;margin-bottom:5px;border-radius:0 10px 10px 0;border-left:5px solid #4C9CF1}




.row {
    /* float:right; */
    width:100%;
    margin:5px 10px 15px 15px;
    padding:0 0px; }

/* @media (max-width:62rem) {
    .column {
      width:100%;
      display:block; }
} */
@media (min-width:500px){
    .row {
      width:97%;
      display:block;}
    }
.card { 
    .container {
        padding: 3px 15px 3px 10px;
    }
    box-shadow: 0 4px 8px 0 rgba(144, 134, 134, 0.2); 
}
.card img {

    padding-left:0;
    width: 100%; 

}


.container::after, .row::after{
    content: "";
    clear: both;
    display: table; 

}
.title { 
    margin-top: -2em;
    color: rgb(5, 75, 249); 

}

.sidebar img{
    margin-left: 0.5em;
}

  /* .button:hover{ background-color: #555; }